@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hola Mundo Razor Page Movie</h1>
    <p>Aprende Sobre <a href="https://docs.microsoft.com/aspnet/core">Construir Aplicaciones Web con ASP.NET Core</a>.</p>
</div>
